{% if site.footer-links.github %}<a href="https://github.com/{{ site.footer-links.github }}" target="_blank"><div class="svg-icon">{{site.footer-icons.github}}</div></a>{% endif %}
{% if site.footer-links.linkedin %}<a href="https://www.linkedin.com/in/{{ site.footer-links.linkedin }}" target="_blank"><div class="svg-icon">{{site.footer-icons.linkedin}}</div></a>{% endif %}
{% if site.footer-links.instagram %}<a href="https://instagram.com/{{ site.footer-links.instagram }}" target="_blank"><div class="svg-icon">{{site.footer-icons.instagram}}</div></a>{% endif %}
