.img-right {
    width: 315px;
    float: right;
    margin-left: 1em;
    @include mobile {
        width: 200px;
    }
}

.img-left {
    width: 315px;
    float: left;
    margin-right: 1em;
    @include mobile {
        width: 200px;
    }
}