dialog,
share-widget {
    z-index: 3;
    position: fixed;
    opacity: .9
}

dialog {
    margin-top: 50px;
    font-family: $helveticaNeue;
    color: black;
    border: 0px;
    border-radius: 5px;
    background-color: #99dd99;
    @include mobile {
        transform: scale(.9);
    }
}

share-widget {
    right: 20px;
    bottom: 18px;
    @include mobile {
        right: 10px;
        bottom: 10px;
    }
}

share-widget button:active {
    transform: scale(1.2);
    @include mobile {
        transform: scale(1);
    }
}

share-widget .share-icon svg {
    width: 30px;
    height: 30px;
    fill: white;
    margin-bottom: 5px;
}

share-widget button {
    width: 100px;
    height: 90px;
    margin: 0;
    @include mobile {
        transform: scale(.8);
    }
}

button:not([disabled]):hover {
    background: $blue;
    color: #FFF;
    @include mobile {
        background: #5188b8 !important;
    }
}

button:not([disabled]) {
    background: #5188b8;
    color: #FFF;
    overflow: visible;
    cursor: pointer;
    display: inline-block;
    padding: .75em 1.5em;
    text-align: center;
    border: 0px;
    border-radius: 10px;
}

#counter {
    font-size: 17px;
    letter-spacing: .5px;
}

button,
select {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    text-transform: none
}

button {
    overflow: visible
}

select {
    margin: 0
}

[type=button],
button {
    -webkit-appearance: button
}

[type=button]::-moz-focus-inner,
button::-moz-focus-inner {
    border-style: none;
    padding: 0
}

[type=button]:-moz-focusring,
button:-moz-focusring {
    outline: 1px dotted ButtonText
}