dialog,
share-widget {
    z-index: 3;
    position: fixed;
    opacity: .9
}

dialog {
    margin-top: 50px;
    font-family: $helveticaNeue;
    color: black;
    border: 0px;
    border-radius: 5px;
    background-color: #99dd99;
}

share-widget {
    right: 20px;
    bottom: 20px
}

share-widget .share-icon svg {
    width: 30px;
    height: 30px;
    fill: white;
    // background-image: url(../images/share-apple.svg);
    // background-repeat: no-repeat;
    // background-position: center;
    margin-bottom: 5px;
}

share-widget button {
    width: 100px;
    height: 90px;
    margin: 0;
}

button:not([disabled]) {
    background: #5188b8;
    color: #FFF;
    overflow: visible;
    cursor: pointer;
    display: inline-block;
    padding: .75em 1.5em;
    text-align: center;
    margin: 0 .75em 1.5em 0;
    border: 0px;
    border-radius: 10px;
}

button:active {
    transform: scale(1.2)
}

button:not([disabled]):hover {
    background: $blue;
    color: #FFF
}

#counter {
    font-size: 18px;
    letter-spacing: .5px;
}

[type=button],
button {
    -webkit-appearance: button
}

[type=button]::-moz-focus-inner,
button::-moz-focus-inner {
    border-style: none;
    padding: 0
}

[type=button]:-moz-focusring,
button:-moz-focusring {
    outline: 1px dotted ButtonText
}