//
// VARIABLES
//

// Colors
$blue: #42a5f5;

// Grays
$black: #121212;
$darkerGray: #e0e0e0;
$darkGray: #bdbdbd;
$gray: #9e9e9e;
$lightGray: #212121;
$white: #ffffff;

// Font stacks
$helvetica: Helvetica, Arial, sans-serif;
$helveticaNeue: "Helvetica Neue", Helvetica, Arial, sans-serif;
$georgia: Georgia, serif;

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}