<!DOCTYPE html>
<html>

<head>
  <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }}</title>
  {% seo title=false %}
  {% include meta.html %}

  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/style.css" />
  <link rel="alternate" type="application/rss+xml" title="{{ site.name }}" href="{{ site.baseurl }}/feed.xml" />
  <link rel="canonical" href="{{ site.url }}{{ page.url }}" />

  <meta name="theme-color" content="#000000">
  <link rel="icon" type="image/png" sizes="256x256" href="../images/favicon-256x256.png">
  <script id="mcjs">!function(c,h,i,m,p){m=c.createElement(h),p=c.getElementsByTagName(h)[0],m.async=1,m.src=i,p.parentNode.insertBefore(m,p)}(document,"script","https://chimpstatic.com/mcjs-connected/js/users/1060eb245e99051a3ac245799/2518d5f5e3335976aaccee845.js");</script>
  <!-- {% include analytics.html %} -->
  <!-- The core Firebase JS SDK is always required and must be listed first -->
  <script src="https://www.gstatic.com/firebasejs/7.17.1/firebase-app.js"></script>
  <script src="https://www.gstatic.com/firebasejs/7.17.1/firebase-database.js"></script>
  <script src="https://www.gstatic.com/firebasejs/7.17.1/firebase-analytics.js"></script>
</head>

<body>
  <div class="wrapper-container">
    <div class="wrapper-masthead">
      <header class="masthead clearfix">
        <div class="fixed-header">
          <h1 class="site-name"><a href="{{ site.baseurl }}/"><b>{{ site.name }}</b></a></h1>
          <nav>
            <a href="{{ site.baseurl }}/about">About</a>
            <a><span id="subscribeButton">Subscribe</span></a>
          </nav>
          <div id="reading-progress" aria-hidden="false" style="transform: translate(-100vw);"></div>
        </div>
      </header>
    </div>
    <div id="subscribeModal" class="modal">
        <!-- Modal content -->
        <div class="modal-content">
            <span class="close">&times;</span>
            {% include mailchimp.html %}
        </div>
    </div>

    <div class="wrapper-main">
      <div id="main" role="main" class="container">
        {% include anchor_headings.html html=content anchorBody="#" %}
      </div>
    </div>

    <div class="wrapper-footer">
      <div class="container">
        <footer class="footer">
          {% include footer-icons.html %}
        </footer>
      </div>
    </div>
    <script src="/scripts/mailchimp-modal.js"></script>
  </div>

  <script type="application/javascript">
    // Your web app's Firebase configuration
    var firebaseConfig = {
      apiKey: "AIzaSyDhsmFabfEWea6nExvPC8pb6kQfHHnWbX0",
      authDomain: "my-blog-95d22.firebaseapp.com",
      databaseURL: "https://my-blog-95d22.firebaseio.com",
      projectId: "my-blog-95d22",
      storageBucket: "my-blog-95d22.appspot.com",
      messagingSenderId: "598295260158",
      appId: "1:598295260158:web:36f28c14c6117d0061aeaf",
      measurementId: "G-VF9RL1L0N7"
    };
    // Initialize Firebase
    firebase.initializeApp(firebaseConfig);
    firebase.analytics();
  </script>
</body>
</html>