---
layout: default
---
<script async="" defer="" src="/scripts/main.js"></script>
<article class="post detailed">
  <h1 style="text-align:left">{{ page.title }}</h1>

  <div>
    <p class="author_title" style="text-align:left">{% include read-time.html %} Published {{ page.date | date: "%B %e, %Y" }}.
      {% if page.updated_date %}
      Updated {{ page.updated_date | date: "%b %-d, %Y" }}.
      {% endif %}
      <br>
      Filed under:
      {% if post %}
      {% assign categories = post.categories %}
      {% else %}
      {% assign categories = page.categories %}
      {% endif %}
      {% for category in categories %}
      <a href="{{site.baseurl}}/categories/#{{category|slugize}}">{{category}}</a>{% if forloop.last %}.{% else %},{% endif %}
      {% endfor %}
    </p>
  </div>
    
  <div class="entry">
    {{ content }}
  </div>
  {% include disqus.html %}
</article>
